VITE_API_BACKEND=apps-script
VITE_API_URL_CLIMA=https://script.google.com/macros/s/URL_CLIMA/exec
VITE_API_URL_PUERTAS=https://script.google.com/macros/s/URL_PUERTAS/exec
VITE_API_URL_ELECTRICO=https://script.google.com/macros/s/URL_ELECTRICO/exec
VITE_API_BASE_URL=https://script.google.com/macros/s/URL_CLIMA/exec

PORT=3001
APP_PASSWORD=cambia-esta-clave

GOOGLE_SHEETS_ID=pon-aqui-el-id-del-google-sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
